:root {
  --primary-color: #00a0ff;
  --contrary-color: #ffa000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  font-size: 16px;
}

.link {
  line-height: 2rem;
}

.label {
  line-height: 2rem;
}

.button {
  padding: 0.5rem 1rem;
  border: 1px solid currentColor;

  cursor: pointer;

  color: #333333;

  background-color: white;
}

.button:hover {
  background-color: #f0f0f0;
}

.button.button--primary {
  border: 1px solid var(--primary-color);

  color: white;

  background-color: var(--primary-color);
}

.dropdown {
  padding: 1rem;
}

.choicegroup {
  display: block;
}

.choicegroup__choice {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0.25rem 1rem;
  border: 1px solid currentColor;

  color: var(--contrary-color);

  border-radius: 0.25rem;
}

.choicegroup__choice.choicegroup__choice--selected {
  color: var(--primary-color);
}
